<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @owner.first_name %>, un nouvel inscrit sur <%= @event.title %> </h1>

    <p>
      Pour accéder à ton espace client, connecte-toi via.
    </p>
    <p> À très vite sur monsite.fr !
  </body>
</html>
